.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
}

.login-box {
    text-align: center;
    background-color: darkslategray;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(117, 117, 117);
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.submit {
    margin-top: 10px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(89, 151, 151);
    color: rgba(255, 255, 255, 0.856);
    box-shadow: 0 0 5px gray;
    cursor: pointer;
}

.title {
    color: rgba(255, 255, 255, 0.856);
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Georgia;
}

.text {
    color: rgba(255, 255, 255, 0.856);
    font-size: 15px;
    margin-bottom: 10px;
    font-family: Georgia;
}

.textfield {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 10px;
}