<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!-- <link rel="stylesheet" th:href="@{/login.css}" /> -->
    <link rel="stylesheet" href="../static/login.css" />

    <title>Document</title>
</head>
<body class="main-body">
    <div id = "app" class="main">
        <div id="thyme" class="login-box">
            <h1 class="title">Login Personalizado</h1>
            <div>
                <div th:if = "${loginError}" class="text">
                    <p >Invalid username or password</p>
                </div>
                <form th:unless = "${loginError}" th:action = "@{/auth/login}" method="POST" class="form">
                    <label for="username" class="text">Username:</label>
                    <input type="text" id="username" name="username" class="textfield">
                    <label for="password" class="text">Password:</label>
                    <input type="password" id="password" name="password" class="textfield">
                    <button type="submit" class="submit">Login</button>
                </form>
            </div>
        </div>
        <div id="react">
        </div>

    </div>
    <script type="text/babel">
        const element = <h1 th:text = "${name}" class="container">Hello, world  from react</h1>;
        ReactDOM.render(
            element,
            document.getElementById('react')
        );
    </script>
</body>
</html>